.main{
    max-width: 100%;
    text-align: left;
    display: flex;
    padding: 20px 40px  60px 40px;
    background-color: #0055ff28;
    border-radius: 20px;
    margin-top: 25px;
}
.sitemap,.policies,.disclaimer{
    flex: 1;
}
.sitemap ul,.policies ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.sitemap{
    margin-left: 20px;
}
.sitemap h3,
.sitemap h4,
.policies h3,
.policies h4,
.disclaimer h3,
.disclaimer p{
    margin: 2px;
}
.disclaimer p{
    font-size: 1.2rem;
}
@media only screen and (max-width: 600px) {
    .main{
        display: block;
        align-items: flex-start;
        height: max-content;
    }
    .sitemap{
        float: left;
        margin-bottom: 20px;
    }
    .policies{
        float: right;
        margin-bottom: 65px;
 
    }
    .disclaimer{
        display: inline;
        text-align: left;
    }
    .disclaimer h3,.disclaimer p{
        text-align: left;
        width: max-content;
        display: inline;
        
    }
 }
