.main{
    display: flex;
    width: 100%;
    max-width: 100%;
    background-color: #0055ff28;
    height: 150px;
    align-items: center;  
}
.polytechimg,.heading,.kar_logo{
    flex: 1;
    height: 100%;
    width: max-content;
}
.kar_logo{
   text-align: right;
   padding-right: 20px;
}
.polytechimg{
    text-align: left;
    padding-left: 20px;
}
.polytechimg img{
    height: 100%;
}
.kar_logo img{
    height: 100%;
}
.heading{
    flex: 2 !important;
    height: max-content;
}
.heading h1,.heading p{
    margin: 0px;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .logo{
        display: flex;
        width: 100%;
        height: 100px;
    }
    .mobile{
        width: 100%;
        background-color: #0055ff28;
    }

    .polytechimg,.heading,.kar_logo{
      
        width: max-content;
    }
    .kar_logo{
        text-align: right;
        padding-right: 0px;
        width: 100px;
     }
     .polytechimg{
         text-align: left;
         padding-left: 0px;
         width: 100px;
     }
     .heading{
        flex: 0 !important;
        height: max-content;
    }
    .heading h1{
        font-size: medium;
        text-align: center;
        margin: auto;
        padding-top: 10px;
    }
    .heading h1,.heading p{
        width: 100vw;
        margin: 0px;
        text-align: center;
    }
  }
